body{
    margin:0;
    background-color: #4654AE ;
    font-family: "Itim", sans-serif;
    color: white;
}


/* ---Header début-------------------------------------------------------- */ 
header{
    background-color: #7093BC;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.452);
    align-items: center;
}

.logo-image{
    width: 30% ;
}

.logo-icon {
    width: 2rem;
    height: 2rem;
    margin-bottom: 5px;
}

.sous-menu nav{
    display: flex;
    justify-content: center;
    gap: 70px;
}
.sous-menu nav a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Itim',sans-serif;
    font-weight: bold;


}
.sous-menu{
    display: flex;
    justify-content: center;
    margin-right: 10%;
}


.transition-band {
    height: 50px;
    background: linear-gradient(to bottom, #7093BC, #4654AE);

}

.sous-menu nav a:hover{
    color: #4654AE;
    transition: 0.3s;
}
/* ---Header fin-------------------------------------------------------- */ 


/* ---Main début -------------------------------------------------------- */
main{
    text-align: center;
}
.titre{
    font-size: 1.5em;
}
.profil{
    display: flex;
    justify-content: center;
    height: 20em;
}
.profil-image{
    background-color: #edefff;
    color: black;
    padding: 2em;
    width:9em;
    font-size: 2em;
    border-radius: 2em;
}
.profil-icon{
    width: 3em;
}
.profil-informations{
    width: 60em;
}
form {
    background-color: #d0d6ff;
    border-radius: 2em;
    width: 90%;
    font-size: 1.45em;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    padding-top: 2%;

}
.ligne {
    width: 70%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: black;
}

.ligne > input {
    margin-left: 2%;
    flex-grow: 1;
    background-color: #7093BC;
    border-style: none;
    border-radius: 0.4em;
    border: 0.15em solid;
    font-size: large;
}
.bouton-modifier{
    margin-bottom: 0.5em;
}
.modifier{
    background-color: #7093BC;
    border-style: none;
    border-radius: 0.7em;
    height: 2em;
    width: 5em;
    font-size: 0.8em;
    color: white;    
}
/* ---Main fin -------------------------------------------------------- */