h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;   
}

body {
    background-color: #7093BC;
    font-family: Inter;
}

.intro {
    margin : auto;
    width: 70%;
    text-align: center;
    background-color: #ffedd780;
    border-radius: 10px;
    height: auto;
    min-height: 80px;
    font-size: 1.4em;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    opacity: 50%;
}

img {
    width: 25%;
    height: 25%;
    display: block;
    position: relative;
    left: 15%;
    opacity: 50%;
}

form {
    background-color: #D9D9D9;
    border-radius: 15px;
    width: 40vw;
    height: 250px;
    position: relative;
    left: 20%;
    font-size: 1.45em;
    padding-top: 4vh;
}

.conteneur {
    display: flex;
    margin-top: 4%;
}

input:not(#submit) {
    background-color: #7093BC;
    border-style: none;
    border-radius: 0.4em;
    border: 0.15em solid;
    margin-left: 5%;
    width: 10em;
    font-size: large;
}

#submit {
    display: block;
    background-color: #7093BC;
    border-style: none;
    border-radius: 0.7em;
    height: 16%;
    width: 15vw;
    font-size: 1.5vw;
    color: white;
    margin: auto;
}

#submit:hover {
    background-color: #3870af;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin-top: 6%;
    font-size: 0.8em;
    text-align: center;
}

span {
    margin-left: 10%;
}