h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;   
}

body {
    background-color: #7093BC;
    font-family: Inter;
}

.intro {
    margin : auto;
    width: 70%;
    text-align: center;
    background-color: #ffedd780;
    border-radius: 10px;
    height: auto;
    min-height: 80px;
    font-size: 1.4em;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    opacity: 50%;
}

img {
    width: 25%;
    height: 25%;
    display: block;
    position: relative;
    left: 15%;
    opacity: 50%;
}

form {
    background-color: #D9D9D9;
    border-radius: 5%;
    width: 40vw;
    position: relative;
    left: 20%;
}

.conteneur {
    display: flex;
    margin-top: 4%;
}

input:not(#submit) {
    background-color: #7093BC;
    border-style: none;
    border-radius: 0.5em;
    border: 0.2em solid;
    font-size: 2vw;
}

#submit {
    background-color: #7093BC;
    border-style: none;
    border-radius: 0.7em;
    height: 30%;
    width: 15vw;
    font-size: 1.5vw;
    color: white;
}
